// BASICS
@import "~normalize.css";
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    -webkit-font-smoothing: antialiased;
}

img,
video {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

::selection {
    color: #000;
    background: #fbd404
}

a {
    color: inherit;
}

label,
button,
input,
select {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

// HELPERS
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    //padding-top: 25px;
    height: 0;
    iframe,
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.dynamic-font {
    font-size: calc(1em + 1vw);
}

// - MATERIAL SHADOWS
.m-shadow-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.m-shadow-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.m-shadow-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.m-shadow-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.m-shadow-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.m-shadow-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.hide {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

// DEV
body.debug {
    img[alt*=".jpg"],
    img[alt*=".jpeg"],
    img[alt*=".gif"],
    img[alt*=".webp"],
    img[alt*=".png"],
    img[alt*="Photographer:"],
    img[alt*="Image of:"],
    img[alt*="Photo of:"],
    img:not([alt$="."]) {
        outline: 5px solid orange;
    }
}

body.outline * {
    outline: 1px solid red;
}